*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;

}

/* a{
    text-decoration: none;
    color: black;
}

.main-section{
    width: 70%;
    height: 500px;
    margin-left: 230px;
    margin-top: 145px;
    border-radius: 20px;
    display: flex;
}
.image{
    width: 50%;
    height: 500px;
    background-image: url(https://img.freepik.com/premium-vector/galaxy-space-planet-with-lava-surface-fantasy-galactic-universe-vector-icon-fantastic-extraterrestrial-galaxy-planet-with-fiery-craters-from-meteors-fire-asteroids-alien-civilization_8071-6838.jpg?w=740);
    background-size: cover;
    background-position: center;
    border-radius: 20px;

} */

/* form code */
/* .form {
    width: 30%;
    height: 400px;
    margin-top: 45px;
    margin-left: 100px;
    position: relative;
   
  }
  
  input, label {
    display:block;
    padding: 10px;
    width: 250px;
    
}

.btn{
    margin-top: 30px;
    padding: 10px;
    width: 200px;
    margin-left: 20px;
    border-radius: 20px;
} */
/* form code */